:root {
  --color-primary: #20c997;
  --color-primary-darker: #12b886;
  --color-primary-opacity: #20c99673;
  --gradient-primary: linear-gradient(to top left, #20c997, #a9e34b);

  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --box-shadows: #05050557;

  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  height: 100vh;
}

/* Sections */
#section--4 {
  padding: 20rem 0rem 5rem 0rem;
}
.section-title-4 {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

/* done */
.section-description-4 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

/* done */
.section-header-4 {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}
/* navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  /* position: fixed; */
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-icon {
  height: 3.5rem;
}

.menu-icon:hover {
  height: 3.5rem;
  transform: scale(1.2);
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: all 0.3s;
  font-size: 2.2rem;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

img {
  transition: filter 0.5s;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* .logo {
  padding: 0 2rem;
} */

.logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 4rem;
  text-transform: capitalize;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.5rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  text-shadow: rgb(255, 255, 255) 0px 0 1px;
}

.nav-link--btn:link,
.nav-link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav-link--btn:hover,
.nav-link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}
/* home */

/* HEADER */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  flex: 1;
  max-width: 75%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header-img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-2rem);
  box-shadow: 1rem 1rem 2rem var(--box-shadows);
}

.highlight {
  position: relative;
  margin-right: 1.2rem;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* section 2 - gallery */

/* padding: 15rem 3rem; */
.section {
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

/* .section--hidden {
  opacity: 0;
  transform: translateY(8rem);
} */

/* .section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
} */

/* .section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
} */
/* 
.section__title--testimonials {
  margin-bottom: 4rem;
} */

/* .slide--1 {
  height: 95vh;
  background-image: url(./OmNibanklit-black.png);
} */

/* SLIDER */
.refresh {
  height: 2.5rem;
  transform: scale(1.2);
}

.refresh-button {
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 60%;
  left: 15%;
  background-color: var(--white);
  color: #0f1412;
  position: absolute;
  /* color: wheat; */
}

.refresh-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
}

.refresh-button:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}
/* .hero-slider-refresh {
  position: relative;
}

.refresh-inner {
  position: relative;
} */

.slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  /* top: 0; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  /* transition: transform 0.1s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  filter: blur(0px);
  transition-property: filter;
  transition-duration: 2s; */
  /* background-color: hsla(0, 0%, 13%, 0.849); */
  /* z-index: 1; */
  /* transition-delay: 2s; */
}

/* 
.slide:hover {
  filter: blur(8px);
} */

.slide--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/card-online-pay-comp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* display: none; */
/* display: none; */
/* display: none; */

.slide--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url(./images/newspaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/atm-comp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide--4 {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url(./images/dollars-comp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* display: none; */

/* .hidden {
  display: none;
} */
/* Text */
.slogan {
  width: 65%;
  position: relative;
}

.slogan::before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.slogan-header {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #f8f9fa;
}

.slogan-text {
  margin-left: 12rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #f8f9fa;
}

.slogan-author-name {
  margin-left: 12rem;
  font-size: 1.5rem;
  font-weight: 500;
  align-self: end;
  color: #e9ecef;
}

/* .badge-slogan {
  position: absolute;
} */
/* img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
} */

/* -------------- */

.container {
  width: 100%;
  margin: auto;
  margin-top: 10rem;
}

.section-header {
  max-width: 75%;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
}

.uppercase {
  margin-bottom: 1rem;
  color: #757575;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.section-header-text {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
  line-height: 1.4em;
  font-weight: 300;
  /* color: #343a40; */
}

.stories {
  background-color: #f1f3f5;
  height: 70rem;
  position: relative;
}

.image-1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342));
}

.image-1 {
  position: absolute;
  top: 20%;
  right: 50%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/personal-banking-comp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}

.image-2 {
  position: absolute;
  top: 70%;
  left: 20%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/dollars-comp1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}

.image-3 {
  position: absolute;
  top: 60%;
  right: 40%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/coins-comp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}
.image-4 {
  position: absolute;
  top: 40%;
  right: 22%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/clay-banks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}
.image-5 {
  position: absolute;
  top: 30%;
  right: 5%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/card-online-pay-comp1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}

.image-6 {
  position: absolute;
  top: 75%;
  right: 10%;

  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.342)),
    url('./images/atm-comp1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 15%;
}

/* ----video section  */

.video-text {
  color: white;
  font-weight: 400;
  font-size: 5rem;
  padding: 0 2rem;
  background-size: 50%;
}

/* video-bg {
  position: absolute;
  height: 60px;
  width: 20px;
} */

.video-bg {
  position: relative;
  height: 60rem;
  background: rgba(0, 0, 0, 0.5);
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}

.video-heading,
.video-text {
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
}

.video-heading {
  font-size: 6rem;
  padding-top: 30vh;
}

.video-text {
  font-size: 3rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #f1f3f5;
}

.operations-tab-container {
  display: flex;
  justify-content: center;
}

.operations-tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations-tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations-tab--1 {
  background-color: var(--color-secondary);
}

.operations-tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations-tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations-tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations-tab--active {
  transform: translateY(-66%);
}

.operations-content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations-content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations-header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations-icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations-content p {
  grid-column: 2;
}

.operations-icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations-icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations-icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations-icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations-icon--2 svg {
  fill: var(--color-primary);
}
.operations-icon--3 svg {
  fill: var(--color-tertiary);
}

/* SIGNUP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section-header {
  color: #dee2e6;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.section--sign-up span {
  color: #ffffff;
}

.section--sign-up .section-title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}
